:root {
  /* font stuff */
  --font-size-basis: 1rem;
  --type-scale: 1.25;
  --h6: var(--font-size-basis);
  --h5: calc(var(--h6) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --font-small: calc(0.667rem);
  --font-family: 'Roboto', sans-serif;
  /* colors */
  --blue: rgba(54, 162, 235, 1);
  --green: rgb(52, 218, 68);
  --red: rgba(255, 99, 132, 1);
  --pastel-blue: #bcd4e6;
  --pastel-green: #b9fbc0;
  --pastel-red: #ffac81;
  --background: #fafafa;
  --text-color: #212529;
  --grey: #949393;
}

html {
  font-size: 100%;
  font-family: var(--font-family);
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--font-size-basis);
}

/* ::-moz-selection {
  background-color: var(--primary-color);
}

::selection {
  background-color: var(--primary-color);
} */